@font-face {
  font-family: "Maven Pro";
  src: url('../fonts/MavenPro-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Dosis";
  src: url('../fonts/Dosis-Regular.otf') format('opentype');
}
.background-one {
  background: url('../img/graduation.jpg') 0 0 no-repeat fixed;
  background-color: #111;
  background-size: cover;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.background-two {
  background: url('../img/graduation.jpg') 0 0 no-repeat fixed;
  background-color: #111;
  background-size: cover;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 100vh;
}
.background-three {
  background: url('../img/graduation.jpg') 0 0 no-repeat fixed;
  background-color: #111;
  background-size: cover;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 200vh;
}
.background-four {
  background: url('../img/graduation.jpg') 0 0 no-repeat fixed;
  background-color: #111;
  background-size: cover;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 300vh;
}
.background-overlay-one {
  background-color: #000;
  opacity: 1.0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.background-overlay-two {
  background-color: #000;
  opacity: 1.0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 100vh;
}
.background-overlay-three {
  background-color: #000;
  opacity: 1.0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 200vh;
}
.background-overlay-four {
  background-color: #000;
  opacity: 1.0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 300vh;
}
.white-text {
  color: white;
}
h1.title {
  font-family: "Maven Pro", sans-serif;
  font-size: 84px;
  font-weight: 500;
}
p.white-text {
  font-family: "Dosis", sans-serif;
  font-size: 28px;
  font-weight: lighter;
}
strong {
  color: white !important;
  font-weight: 900;
}

@media (max-width: 480px) {
  h1.title {
    font-size: 64px;
  }
  p.white-text {
    font-size: 24px;
  }
  a.nav-item {
    font-size: 14px;
  }
}

nav.navbar-fixed {
  z-index: 2;
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
}
a.nav-item {
  color: #ddd;
  opacity: 0.8;
  display: inline-block;
  padding: 15px;
}
a.nav-item:hover, a label {
  cursor: pointer;
  color: white;
  opacity: 1.0;
}
a.nav-apply-item {
  font-weight: 600;
}
a.nav-item.active {
  opacity: 1.0 !important;
}
a.nav-item > label.active {
  border-bottom: 1px solid white;
  padding-bottom: 0;
}
a.nav-item > label {
  -webkit-transition: .5s all ease-out;
  -moz-transition: .5s all ease-out;
  transition: .5s all ease-out;
  border-bottom: 0px;
}
section.section {
  height: 100vh;
}
hr {
  opacity: 0;
}

a.apply-link {
  opacity: 0.8;
}
a.apply-link:hover {
  text-decoration: underline;
  color: #00d1b2;
  opacity: 1.0;
}